.camera-stream {
    /*transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);*/ /* Safari and Chrome */
    /*-moz-transform: rotateY(180deg);*/ /* Firefox */
    margin-left: -170px;
    margin-top: -50px;
}

.camera-streaming {
    width: 320px;
    height: 320px;
    border-radius: 360px;
    overflow: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0); /* Safari and Chrome */
    -moz-transform: translateZ(0); /* Firefox */
}

.camera-unavailable {
    border: 1px solid black;
}
