.camera-stream {
    /*transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);*/ /* Safari and Chrome */
    /*-moz-transform: rotateY(180deg);*/ /* Firefox */
}

.camera-streaming {
    width: 350px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.camera-unavailable {
}
