<div id="camera-container" class=@CssCameraWrapper>
    <video @ref=VideoElement class="camera-stream" autoplay="autoplay">Video stream not available</video>
    @if (errorMessage is not null)
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }
</div>
