@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Source code available on <a style="margin-left: 5px;"
                                        href="https://github.com/codemonkey85/Blazor-Camera-Test">GitHub</a>.
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
